* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 1024px;
  max-width: 98%;
}

.single-price {
  width: 33.3%;
  background: teal;
  float: left;
  /* margin-top: 2%; */
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: 0.9s;
}

.price {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 2px solid #da4357;
  margin: 5% auto 0 auto;
  text-align: center;
  line-height: 120px;
}

.deals {
  margin-top: 10%;
}

.single-price h1 {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  line-height: 3;
}

.price h2 {
  font-size: 38px;
  font-weight: bold;
  color: #fff;
}

.deals h4 {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #fff;
  line-height: 1.8;
}

.single-price:hover {
  background: tomato;
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  transform: scale(1.1);
  z-index: 1;
  border-radius: 25px;
}

.single-price:hover .price {
  border-color: #fff;
}

.single-price a {
  text-decoration: none;
  background: #da4357;
  color: #fff;
  padding: 10px 60px;
  display: inline-block;
  margin: 10% auto;
  text-transform: uppercase;
  font-weight: bold;
}

.single-price:hover a {
  background: #262626;
  color: #fff;
}