* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: teal;
    text-align: center;
}

h4 {
    font-size: 48px;
    margin: 20px auto;
    color: #fff;
    font-weight: bold;
}

.button {
    background: chocolate;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid chocolate;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    margin: 20px auto;
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background: #000;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
}

input[type="checkbox"]:checked ~ .overlay {
    pointer-events: auto;
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
            transition: transform 0.5s ease, opacity 0.5s ease;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
            transform: translate(-50%, -50%) scale(0.5);
    width: 100%;
    max-width: 600px;
    pointer-events: none;
    opacity: 0;
    z-index: 100;
    -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
            transition: transform 0.5s ease, opacity 0.5s ease;
}

h3 {
    margin: 10px auto;
    display: block;
}

p {
    line-height: 1.4;
    margin: 0 auto;
}

input[type="checkbox"]:checked ~ .modal {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
            transition: transform 0.5s ease, opacity 0.5s ease;
    transition-delay: 0.1s;
}

.modal__content {
    display: block;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}