* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
  font-size:16px;
  line-height:30px;
  background: teal;
}

h1, h2{
  margin:0 0 20px 0;
}

p { 
    margin:0 0 20px 0;
}

.container {
  max-width: 960px;
  width: 90%;
  margin: 100px auto;
}

.wrapper {
  margin-right:300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.wrapper .content {
  display:inline-block;
  vertical-align:top;
  width:100%;
}

.wrapper .sidebar {
  display:inline-block;
  vertical-align:top;
  margin-right:-500px;
  margin-left:50px;
  width:350px;
}

.wrapper .sidebar .sticky{
  position: sticky;
  top:20px;
  padding:20px;
  background: tomato;
  color: #fff;
  text-align: center;
}
