* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Uchen', serif;
}

nav {
    background: teal;
    height: 80px;
    width: 100%;
}

label.logo {
    color: #111;
    font-size: 34px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a  {
    color: #111;
    font-size: 17px;
    padding: 3px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: middle; 
}

a.active, a:hover {
    background: rgb(37, 161, 161);
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #111;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
    cursor: pointer;
}

#check {
    display: none;
}

section {
    background: url(main_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 80px);
    background-position: center center;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        font-size: 20px;
        margin: 50px 0;
        line-height: 30px;
    }

    a.active, a:hover {
        background: none;
        color:rgb(37, 161, 161);
    }

    #check:checked ~ ul {
        left: 0;
    }
}

